

body {
  padding-top: 54px;
  background-image: url('https://media.contentapi.ea.com/content/dam/eacom/en-us/migrated-images/2016/06/play-pvzheroes-pvzheroes-homepage-heroesbg.jpg.adapt.1920w.jpg%27');
  background-size: 100% 100%;
  background-repeat:no-repeat;
  background-attachment: fixed;
}

@media (min-width: 992px) {
  body {
    padding-top: 56px;
  }
}
.base-datos{
  font-size:20px;
  color:black;
  word-spacing:5px;
  text-align:center;

  border-left-width:medium;
  border-right-width:medium;
  border-top-width:medium;
  border-bottom-width:medium;
  border-width:medium;

  border-left-style:double;   
  border-right-style:double  ; 
  border-top-style:double   ;
  border-bottom-style:double ;  
  border-style:double;
}

.menu-fixed {
  position:fixed;
  z-index:1000;
  width:40%;
  padding-left: 10%;
  
}

.menu{
	z-index:1000;
  width:40%;
  padding-left: 10%;
}

