*{
	box-sizing: border-box;
}

h1{
	text-align:center;

}
body{
	background-image: url('https://media.contentapi.ea.com/content/dam/eacom/en-us/migrated-images/2016/06/play-pvzheroes-pvzheroes-homepage-hero1.jpg.adapt.crop16x9.1920w.jpg');
	background-size: 100% 100%;
	background-repeat:no-repeat;
	background-attachment: fixed;
}

h2{
	text-align:center;

}

form{
	background: rgba(0,0,0,0.4);
	width:400px;
	margin: auto;
	padding: 10px 20px;
	box-sizing: borderbox;
	border-radius: 10px;
}

.formulario{
	font-family:cursive;
	font-size: 20px;
	color: #fff;
}
.contenedor{
	width: 50%;
	padding: 7px;
	box-sizing: border-box
}
#input{
	margin-botton: 100px;
}
#boton{
	margin:0 auto;
	width:50%;
	background: #009975;
	color:#fff;
	padding: 15px;
}
#boton:hover {
cursor: pointer;
}