
body {
  padding-top: 54px;
}

@media (min-width: 992px) {
  body {
    padding-top: 56px;
	background-image: url('https://media.contentapi.ea.com/content/dam/eacom/en-us/migrated-images/2016/06/play-pvzheroes-pvzheroes-homepage-heroesbg.jpg.adapt.1920w.jpg');
	background-size: 100% 100%;
	background-repeat:no-repeat;
	background-attachment: fixed;
  }
}
